In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import ensemble
from sklearn.model_selection import cross_val_score

%matplotlib inline

In [2]:
y2015 = pd.read_csv(
    'https://www.dropbox.com/s/0so14yudedjmm5m/LoanStats3d.csv?dl=1',
    skipinitialspace=True,
    header=1
)

C:\Users\Yinan\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (0,19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
y2015.head(10)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,68009401,72868139.0,16000.0,16000.0,16000.0,60 months,14.85%,379.39,C,C5,...,0.0,2.0,78.9,0.0,0.0,2.0,298100.0,31329.0,281300.0,13400.0
1,68354783,73244544.0,9600.0,9600.0,9600.0,36 months,7.49%,298.58,A,A4,...,0.0,2.0,100.0,66.7,0.0,0.0,88635.0,55387.0,12500.0,75635.0
2,68466916,73356753.0,25000.0,25000.0,25000.0,36 months,7.49%,777.55,A,A4,...,0.0,0.0,100.0,20.0,0.0,0.0,373572.0,68056.0,38400.0,82117.0
3,68466961,73356799.0,28000.0,28000.0,28000.0,36 months,6.49%,858.05,A,A2,...,0.0,0.0,91.7,22.2,0.0,0.0,304003.0,74920.0,41500.0,42503.0
4,68495092,73384866.0,8650.0,8650.0,8650.0,36 months,19.89%,320.99,E,E3,...,0.0,12.0,100.0,50.0,1.0,0.0,38998.0,18926.0,2750.0,18248.0
5,68506798,73396623.0,23000.0,23000.0,23000.0,60 months,8.49%,471.77,B,B1,...,0.0,2.0,87.9,14.3,0.0,0.0,93962.0,63886.0,39500.0,46662.0
6,68566886,73456723.0,29900.0,29900.0,29900.0,60 months,12.88%,678.49,C,C2,...,0.0,4.0,100.0,25.0,0.0,0.0,271700.0,42497.0,34000.0,15574.0
7,68577849,73467703.0,18000.0,18000.0,18000.0,60 months,11.99%,400.31,C,C1,...,0.0,4.0,100.0,0.0,0.0,0.0,309710.0,36127.0,69800.0,26210.0
8,66310712,71035433.0,35000.0,35000.0,35000.0,60 months,14.85%,829.90,C,C5,...,0.0,1.0,100.0,0.0,0.0,0.0,381215.0,52226.0,62500.0,18000.0
9,68476807,73366655.0,10400.0,10400.0,10400.0,60 months,22.45%,289.91,F,F1,...,0.0,4.0,96.6,60.0,0.0,0.0,439570.0,95768.0,20300.0,88097.0

In [4]:
y2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421097 entries, 0 to 421096
Columns: 111 entries, id to total_il_high_credit_limit
dtypes: float64(85), object(26)
memory usage: 356.6+ MB

In [5]:
y2015.isnull().sum()*100/y2015.isnull().count()

id                                 0.000000
member_id                          0.000475
loan_amnt                          0.000475
funded_amnt                        0.000475
funded_amnt_inv                    0.000475
term                               0.000475
int_rate                           0.000475
installment                        0.000475
grade                              0.000475
sub_grade                          0.000475
emp_title                          5.669953
emp_length                         5.656416
home_ownership                     0.000475
annual_inc                         0.000475
verification_status                0.000475
issue_d                            0.000475
loan_status                        0.000475
pymnt_plan                         0.000475
url                                0.000475
desc                              99.989314
purpose                            0.000475
title                              0.031822
zip_code                           0.000475
addr_state                         0.000475
dti                                0.000475
delinq_2yrs                        0.000475
earliest_cr_line                   0.000475
inq_last_6mths                     0.000475
mths_since_last_delinq            48.436346
mths_since_last_record            82.328300
                                    ...
mo_sin_old_rev_tl_op               0.000475
mo_sin_rcnt_rev_tl_op              0.000475
mo_sin_rcnt_tl                     0.000475
mort_acc                           0.000475
mths_since_recent_bc               0.902405
mths_since_recent_bc_dlq          74.210218
mths_since_recent_inq             10.591621
mths_since_recent_revol_delinq    63.966260
num_accts_ever_120_pd              0.000475
num_actv_bc_tl                     0.000475
num_actv_rev_tl                    0.000475
num_bc_sats                        0.000475
num_bc_tl                          0.000475
num_il_tl                          0.000475
num_op_rev_tl                      0.000475
num_rev_accts                      0.000712
num_rev_tl_bal_gt_0                0.000475
num_sats                           0.000475
num_tl_120dpd_2m                   4.567119
num_tl_30dpd                       0.000475
num_tl_90g_dpd_24m                 0.000475
num_tl_op_past_12m                 0.000475
pct_tl_nvr_dlq                     0.000475
percent_bc_gt_75                   1.007131
pub_rec_bankruptcies               0.000475
tax_liens                          0.000475
tot_hi_cred_lim                    0.000475
total_bal_ex_mort                  0.000475
total_bc_limit                     0.000475
total_il_high_credit_limit         0.000475
Length: 111, dtype: float64

In [6]:
new_y2015=y2015.loc[:, pd.notnull(y2015).sum()>len(y2015)*.7]

In [7]:
new_y2015.isnull().sum()*100/new_y2015.isnull().count()

id                             0.000000
member_id                      0.000475
loan_amnt                      0.000475
funded_amnt                    0.000475
funded_amnt_inv                0.000475
term                           0.000475
int_rate                       0.000475
installment                    0.000475
grade                          0.000475
sub_grade                      0.000475
emp_title                      5.669953
emp_length                     5.656416
home_ownership                 0.000475
annual_inc                     0.000475
verification_status            0.000475
issue_d                        0.000475
loan_status                    0.000475
pymnt_plan                     0.000475
url                            0.000475
purpose                        0.000475
title                          0.031822
zip_code                       0.000475
addr_state                     0.000475
dti                            0.000475
delinq_2yrs                    0.000475
earliest_cr_line               0.000475
inq_last_6mths                 0.000475
open_acc                       0.000475
pub_rec                        0.000475
revol_bal                      0.000475
                                ...
delinq_amnt                    0.000475
mo_sin_old_il_acct             2.910493
mo_sin_old_rev_tl_op           0.000475
mo_sin_rcnt_rev_tl_op          0.000475
mo_sin_rcnt_tl                 0.000475
mort_acc                       0.000475
mths_since_recent_bc           0.902405
mths_since_recent_inq         10.591621
num_accts_ever_120_pd          0.000475
num_actv_bc_tl                 0.000475
num_actv_rev_tl                0.000475
num_bc_sats                    0.000475
num_bc_tl                      0.000475
num_il_tl                      0.000475
num_op_rev_tl                  0.000475
num_rev_accts                  0.000712
num_rev_tl_bal_gt_0            0.000475
num_sats                       0.000475
num_tl_120dpd_2m               4.567119
num_tl_30dpd                   0.000475
num_tl_90g_dpd_24m             0.000475
num_tl_op_past_12m             0.000475
pct_tl_nvr_dlq                 0.000475
percent_bc_gt_75               1.007131
pub_rec_bankruptcies           0.000475
tax_liens                      0.000475
tot_hi_cred_lim                0.000475
total_bal_ex_mort              0.000475
total_bc_limit                 0.000475
total_il_high_credit_limit     0.000475
Length: 88, dtype: float64

In [8]:
new_y2015.tail()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
421092,36271333,38982739.0,13000.0,13000.0,13000.0,60 months,15.99%,316.07,D,D2,...,0.0,3.0,100.0,50.0,1.0,0.0,51239.0,34178.0,10600.0,33239.0
421093,36490806,39222577.0,12000.0,12000.0,12000.0,60 months,19.99%,317.86,E,E3,...,1.0,2.0,95.0,66.7,0.0,0.0,96919.0,58418.0,9700.0,69919.0
421094,36271262,38982659.0,20000.0,20000.0,20000.0,36 months,11.99%,664.20,B,B5,...,0.0,1.0,100.0,50.0,0.0,1.0,43740.0,33307.0,41700.0,0.0
421095,Total amount funded in policy code 1: 6417608175,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421096,Total amount funded in policy code 2: 1944088810,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# remove last two rows with NaNs
new_y2015=new_y2015[:-2]

In [10]:
new_y2015=new_y2015.drop(columns=['id', 'member_id'])

In [11]:
new_y2015.isnull().sum()*100/new_y2015.isnull().count()

loan_amnt                      0.000000
funded_amnt                    0.000000
funded_amnt_inv                0.000000
term                           0.000000
int_rate                       0.000000
installment                    0.000000
grade                          0.000000
sub_grade                      0.000000
emp_title                      5.669505
emp_length                     5.655968
home_ownership                 0.000000
annual_inc                     0.000000
verification_status            0.000000
issue_d                        0.000000
loan_status                    0.000000
pymnt_plan                     0.000000
url                            0.000000
purpose                        0.000000
title                          0.031347
zip_code                       0.000000
addr_state                     0.000000
dti                            0.000000
delinq_2yrs                    0.000000
earliest_cr_line               0.000000
inq_last_6mths                 0.000000
open_acc                       0.000000
pub_rec                        0.000000
revol_bal                      0.000000
revol_util                     0.038471
total_acc                      0.000000
                                ...
delinq_amnt                    0.000000
mo_sin_old_il_acct             2.910032
mo_sin_old_rev_tl_op           0.000000
mo_sin_rcnt_rev_tl_op          0.000000
mo_sin_rcnt_tl                 0.000000
mort_acc                       0.000000
mths_since_recent_bc           0.901934
mths_since_recent_inq         10.591197
num_accts_ever_120_pd          0.000000
num_actv_bc_tl                 0.000000
num_actv_rev_tl                0.000000
num_bc_sats                    0.000000
num_bc_tl                      0.000000
num_il_tl                      0.000000
num_op_rev_tl                  0.000000
num_rev_accts                  0.000237
num_rev_tl_bal_gt_0            0.000000
num_sats                       0.000000
num_tl_120dpd_2m               4.566665
num_tl_30dpd                   0.000000
num_tl_90g_dpd_24m             0.000000
num_tl_op_past_12m             0.000000
pct_tl_nvr_dlq                 0.000000
percent_bc_gt_75               1.006661
pub_rec_bankruptcies           0.000000
tax_liens                      0.000000
tot_hi_cred_lim                0.000000
total_bal_ex_mort              0.000000
total_bc_limit                 0.000000
total_il_high_credit_limit     0.000000
Length: 86, dtype: float64

In [12]:
new_y2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421095 entries, 0 to 421094
Data columns (total 86 columns):
loan_amnt                     421095 non-null float64
funded_amnt                   421095 non-null float64
funded_amnt_inv               421095 non-null float64
term                          421095 non-null object
int_rate                      421095 non-null object
installment                   421095 non-null float64
grade                         421095 non-null object
sub_grade                     421095 non-null object
emp_title                     397221 non-null object
emp_length                    397278 non-null object
home_ownership                421095 non-null object
annual_inc                    421095 non-null float64
verification_status           421095 non-null object
issue_d                       421095 non-null object
loan_status                   421095 non-null object
pymnt_plan                    421095 non-null object
url                           421095 non-null object
purpose                       421095 non-null object
title                         420963 non-null object
zip_code                      421095 non-null object
addr_state                    421095 non-null object
dti                           421095 non-null float64
delinq_2yrs                   421095 non-null float64
earliest_cr_line              421095 non-null object
inq_last_6mths                421095 non-null float64
open_acc                      421095 non-null float64
pub_rec                       421095 non-null float64
revol_bal                     421095 non-null float64
revol_util                    420933 non-null object
total_acc                     421095 non-null float64
initial_list_status           421095 non-null object
out_prncp                     421095 non-null float64
out_prncp_inv                 421095 non-null float64
total_pymnt                   421095 non-null float64
total_pymnt_inv               421095 non-null float64
total_rec_prncp               421095 non-null float64
total_rec_int                 421095 non-null float64
total_rec_late_fee            421095 non-null float64
recoveries                    421095 non-null float64
collection_recovery_fee       421095 non-null float64
last_pymnt_d                  420801 non-null object
last_pymnt_amnt               421095 non-null float64
next_pymnt_d                  303928 non-null object
last_credit_pull_d            421087 non-null object
collections_12_mths_ex_med    421095 non-null float64
policy_code                   421095 non-null float64
application_type              421095 non-null object
acc_now_delinq                421095 non-null float64
tot_coll_amt                  421095 non-null float64
tot_cur_bal                   421095 non-null float64
total_rev_hi_lim              421095 non-null float64
acc_open_past_24mths          421095 non-null float64
avg_cur_bal                   421095 non-null float64
bc_open_to_buy                417132 non-null float64
bc_util                       416868 non-null float64
chargeoff_within_12_mths      421095 non-null float64
delinq_amnt                   421095 non-null float64
mo_sin_old_il_acct            408841 non-null float64
mo_sin_old_rev_tl_op          421095 non-null float64
mo_sin_rcnt_rev_tl_op         421095 non-null float64
mo_sin_rcnt_tl                421095 non-null float64
mort_acc                      421095 non-null float64
mths_since_recent_bc          417297 non-null float64
mths_since_recent_inq         376496 non-null float64
num_accts_ever_120_pd         421095 non-null float64
num_actv_bc_tl                421095 non-null float64
num_actv_rev_tl               421095 non-null float64
num_bc_sats                   421095 non-null float64
num_bc_tl                     421095 non-null float64
num_il_tl                     421095 non-null float64
num_op_rev_tl                 421095 non-null float64
num_rev_accts                 421094 non-null float64
num_rev_tl_bal_gt_0           421095 non-null float64
num_sats                      421095 non-null float64
num_tl_120dpd_2m              401865 non-null float64
num_tl_30dpd                  421095 non-null float64
num_tl_90g_dpd_24m            421095 non-null float64
num_tl_op_past_12m            421095 non-null float64
pct_tl_nvr_dlq                421095 non-null float64
percent_bc_gt_75              416856 non-null float64
pub_rec_bankruptcies          421095 non-null float64
tax_liens                     421095 non-null float64
tot_hi_cred_lim               421095 non-null float64
total_bal_ex_mort             421095 non-null float64
total_bc_limit                421095 non-null float64
total_il_high_credit_limit    421095 non-null float64
dtypes: float64(63), object(23)
memory usage: 276.3+ MB

In [13]:
categorical_y2015 = new_y2015.select_dtypes(include=['object'])
categorical_y2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421095 entries, 0 to 421094
Data columns (total 23 columns):
term                   421095 non-null object
int_rate               421095 non-null object
grade                  421095 non-null object
sub_grade              421095 non-null object
emp_title              397221 non-null object
emp_length             397278 non-null object
home_ownership         421095 non-null object
verification_status    421095 non-null object
issue_d                421095 non-null object
loan_status            421095 non-null object
pymnt_plan             421095 non-null object
url                    421095 non-null object
purpose                421095 non-null object
title                  420963 non-null object
zip_code               421095 non-null object
addr_state             421095 non-null object
earliest_cr_line       421095 non-null object
revol_util             420933 non-null object
initial_list_status    421095 non-null object
last_pymnt_d           420801 non-null object
next_pymnt_d           303928 non-null object
last_credit_pull_d     421087 non-null object
application_type       421095 non-null object
dtypes: object(23)
memory usage: 73.9+ MB

In [14]:
categorical = new_y2015.select_dtypes(include=['object'])
for i in categorical:
    column = categorical[i]
    print(i)
    print(column.nunique())

term
2
int_rate
110
grade
7
sub_grade
35
emp_title
120812
emp_length
11
home_ownership
4
verification_status
3
issue_d
12
loan_status
7
pymnt_plan
1
url
421095
purpose
14
title
27
zip_code
914
addr_state
49
earliest_cr_line
668
revol_util
1211
initial_list_status
2
last_pymnt_d
25
next_pymnt_d
4
last_credit_pull_d
26
application_type
2

In [15]:
#remove all var with more than 10 categoricals
categorical_y2015=categorical_y2015.drop(columns=['emp_title', 'url','zip_code','earliest_cr_line','revol_util','int_rate','addr_state','sub_grade','title','last_pymnt_d','last_credit_pull_d','issue_d','purpose','emp_length'])

In [16]:
# fill-in missing value for categorical variables

categorical_list=list(categorical_y2015.columns) 

for column in categorical_list:
    for i in range(0, len(categorical_y2015)):
        if pd.isnull(categorical_y2015[column][i]):
            categorical_y2015[column][i] = categorical_y2015.fillna(categorical_y2015[column].value_counts().index[0],inplace=True)

In [17]:
y2015.grade.value_counts()

C    120567
B    117606
A     73336
D     62654
E     34948
F      9817
G      2167
Name: grade, dtype: int64

In [18]:
categorical_y2015.head(10)

,term,grade,home_ownership,verification_status,loan_status,pymnt_plan,initial_list_status,next_pymnt_d,application_type
0,60 months,C,MORTGAGE,Not Verified,Current,n,w,Jan-2017,INDIVIDUAL
1,36 months,A,MORTGAGE,Not Verified,Current,n,w,Jan-2017,INDIVIDUAL
2,36 months,A,MORTGAGE,Not Verified,Fully Paid,n,w,None,INDIVIDUAL
3,36 months,A,MORTGAGE,Not Verified,Current,n,w,Jan-2017,INDIVIDUAL
4,36 months,E,RENT,Verified,Fully Paid,n,w,Feb-2017,INDIVIDUAL
5,60 months,B,RENT,Not Verified,Current,n,w,Jan-2017,INDIVIDUAL
6,60 months,C,MORTGAGE,Verified,Current,n,w,Feb-2017,INDIVIDUAL
7,60 months,C,MORTGAGE,Not Verified,Fully Paid,n,w,Feb-2017,INDIVIDUAL
8,60 months,C,MORTGAGE,Source Verified,Current,n,w,Jan-2017,INDIVIDUAL
9,60 months,F,MORTGAGE,Source Verified,Fully Paid,n,w,Feb-2017,INDIVIDUAL

In [19]:
categorical_y2015.isnull().sum()*100/categorical_y2015.isnull().count()

term                   0.000000
grade                  0.000000
home_ownership         0.000000
verification_status    0.000000
loan_status            0.000000
pymnt_plan             0.000000
initial_list_status    0.000000
next_pymnt_d           0.000237
application_type       0.000000
dtype: float64

In [20]:
import sklearn
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder

#loan_status=categorical_y2015['loan_status']

# label encoder can't used for X, can be used for Y

#categorical_y2015=categorical_y2015.values.tolist()
#le = preprocessing.LabelEncoder()
#le.fit(categorical_y2015)
new1_2015Y=pd.DataFrame()

# needs to drop Y var before convert to dummies
new1_2015Y['loan_status']=categorical_y2015['loan_status']
categorical_y2015=categorical_y2015.drop(columns=['loan_status'])

categorical_y2015 = pd.get_dummies(categorical_y2015)

#for col in categorical_list:
    #categorical_y2015[col]=pd.get_dummies(categorical_y2015[col],drop_first=True)

In [21]:
categorical_y2015.isnull().sum()*100/categorical_y2015.isnull().count()

term_ 36 months                        0.0
term_ 60 months                        0.0
grade_A                                0.0
grade_B                                0.0
grade_C                                0.0
grade_D                                0.0
grade_E                                0.0
grade_F                                0.0
grade_G                                0.0
home_ownership_ANY                     0.0
home_ownership_MORTGAGE                0.0
home_ownership_OWN                     0.0
home_ownership_RENT                    0.0
verification_status_Not Verified       0.0
verification_status_Source Verified    0.0
verification_status_Verified           0.0
pymnt_plan_n                           0.0
initial_list_status_f                  0.0
initial_list_status_w                  0.0
next_pymnt_d_Feb-2017                  0.0
next_pymnt_d_Jan-2017                  0.0
next_pymnt_d_Jul-2016                  0.0
next_pymnt_d_Mar-2017                  0.0
application_type_INDIVIDUAL            0.0
application_type_JOINT                 0.0
dtype: float64

In [22]:
continuous_y2015=new_y2015.select_dtypes(include=['float64'])

In [23]:
# fill in numerical variables missing values by interpolation method

continuous_y2015 = continuous_y2015.interpolate(method='linear',limit_direction='backward')

In [24]:
continuous_y2015.isnull().sum()*100/continuous_y2015.isnull().count()

loan_amnt                     0.0
funded_amnt                   0.0
funded_amnt_inv               0.0
installment                   0.0
annual_inc                    0.0
dti                           0.0
delinq_2yrs                   0.0
inq_last_6mths                0.0
open_acc                      0.0
pub_rec                       0.0
revol_bal                     0.0
total_acc                     0.0
out_prncp                     0.0
out_prncp_inv                 0.0
total_pymnt                   0.0
total_pymnt_inv               0.0
total_rec_prncp               0.0
total_rec_int                 0.0
total_rec_late_fee            0.0
recoveries                    0.0
collection_recovery_fee       0.0
last_pymnt_amnt               0.0
collections_12_mths_ex_med    0.0
policy_code                   0.0
acc_now_delinq                0.0
tot_coll_amt                  0.0
tot_cur_bal                   0.0
total_rev_hi_lim              0.0
acc_open_past_24mths          0.0
avg_cur_bal                   0.0
                             ...
delinq_amnt                   0.0
mo_sin_old_il_acct            0.0
mo_sin_old_rev_tl_op          0.0
mo_sin_rcnt_rev_tl_op         0.0
mo_sin_rcnt_tl                0.0
mort_acc                      0.0
mths_since_recent_bc          0.0
mths_since_recent_inq         0.0
num_accts_ever_120_pd         0.0
num_actv_bc_tl                0.0
num_actv_rev_tl               0.0
num_bc_sats                   0.0
num_bc_tl                     0.0
num_il_tl                     0.0
num_op_rev_tl                 0.0
num_rev_accts                 0.0
num_rev_tl_bal_gt_0           0.0
num_sats                      0.0
num_tl_120dpd_2m              0.0
num_tl_30dpd                  0.0
num_tl_90g_dpd_24m            0.0
num_tl_op_past_12m            0.0
pct_tl_nvr_dlq                0.0
percent_bc_gt_75              0.0
pub_rec_bankruptcies          0.0
tax_liens                     0.0
tot_hi_cred_lim               0.0
total_bal_ex_mort             0.0
total_bc_limit                0.0
total_il_high_credit_limit    0.0
Length: 63, dtype: float64

In [25]:
new2_2015Y=pd.concat([categorical_y2015,continuous_y2015],axis=1)
new1_2015Y=pd.concat([new2_2015Y,new1_2015Y['loan_status']],axis=1)
print(new1_2015Y.loan_status)

new1_2015Y['loan_status']=new1_2015Y['loan_status'].values.tolist()
#le = preprocessing.LabelEncoder()
#le.fit(new1_2015Y['loan_status'])
#le.transform(new1_2015Y.loan_status)
#print(new1_2015Y.loan_status)

from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
new1_2015Y.loan_status = labelencoder.fit_transform(new1_2015Y.loan_status)

0                    Current
1                    Current
2                 Fully Paid
3                    Current
4                 Fully Paid
5                    Current
6                    Current
7                 Fully Paid
8                    Current
9                 Fully Paid
10                   Current
11                   Current
12                   Current
13                   Current
14                Fully Paid
15                   Current
16                   Current
17                   Current
18                   Current
19                   Current
20                   Current
21                Fully Paid
22                   Current
23                   Current
24                   Current
25                   Current
26                   Current
27                Fully Paid
28                   Current
29                   Current
                 ...
421065               Current
421066               Current
421067               Current
421068           Charged Off
421069            Fully Paid
421070               Current
421071            Fully Paid
421072               Current
421073               Current
421074    Late (31-120 days)
421075               Current
421076            Fully Paid
421077               Current
421078               Current
421079            Fully Paid
421080               Current
421081            Fully Paid
421082            Fully Paid
421083            Fully Paid
421084               Current
421085            Fully Paid
421086               Current
421087           Charged Off
421088            Fully Paid
421089           Charged Off
421090               Current
421091               Current
421092           Charged Off
421093           Charged Off
421094               Current
Name: loan_status, Length: 421095, dtype: object

In [26]:
from sklearn import ensemble
from sklearn.model_selection import cross_val_score

rfc = ensemble.RandomForestClassifier()
X = new1_2015Y.drop('loan_status', 1)
Y = new1_2015Y['loan_status']

cross_val_score(rfc, X, Y, cv=10)

C:\Users\Yinan\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Yinan\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Yinan\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Yinan\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Yinan\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Yinan\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Yinan\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Yinan\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Yinan\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Yinan\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

array([0.95965425, 0.96483104, 0.96366745, 0.96067536, 0.96050819,
       0.96062693, 0.96050725, 0.96060225, 0.96050538, 0.96040944])

In [27]:
# apply PCA to data for dimension reduction

In [28]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.33, random_state=42)

In [29]:
from sklearn.preprocessing import StandardScaler
X_std = StandardScaler().fit_transform(X_train)

In [30]:
mean_vec = np.mean(X_std, axis=0)
cov_mat = np.cov(X_std.T)
eig_vals, eig_vecs = np.linalg.eig(cov_mat)
# Create a list of (eigenvalue, eigenvector) tuples
eig_pairs = [ (np.abs(eig_vals[i]),eig_vecs[:,i]) for i in range(len(eig_vals))]

# Sort the eigenvalue, eigenvector pair from high to low
eig_pairs.sort(key = lambda x: x[0], reverse= True)

# Calculation of Explained Variance from the eigenvalues
tot = sum(eig_vals)
var_exp = [(i/tot)*100 for i in sorted(eig_vals, reverse=True)] # Individual explained variance
cum_var_exp = np.cumsum(var_exp) # Cumulative explained variance

In [31]:
[ n for n,i in enumerate(cum_var_exp) if i>90 ][0]

39

In [32]:

import plotly.offline as py
py.init_notebook_mode(connected=True)
import plotly.graph_objs as go
import plotly.tools as tls
import seaborn as sns
import matplotlib.image as mpimg

# Import the 3 dimensionality reduction methods
from sklearn.manifold import TSNE
from sklearn.decomposition import PCA

In [33]:
pca = PCA(n_components=40)
pca.fit(X_std)
X_40d = pca.transform(X_std)

In [34]:
from sklearn.ensemble import RandomForestClassifier as RF
# Use 25 decision trees in our random forest and initialize
clf = RF(n_estimators = 100)

# Train the classifier
clf = clf.fit(X_40d,Y_train)

In [35]:
# start to test the RF model

In [36]:
test_std = StandardScaler().fit_transform(X_test)
test_228d = pca.transform(test_std)

output_predictions = clf.predict(test_228d)

In [38]:
from sklearn.metrics import accuracy_score
accuracy_score(Y_test, output_predictions)

0.9014910551085908

In [39]:
# apply  10 folds cross validation 
X_new=StandardScaler().fit_transform(X)
Y_new=Y

mean_vec = np.mean(X_new, axis=0)
cov_mat = np.cov(X_new.T)
eig_vals, eig_vecs = np.linalg.eig(cov_mat)
# Create a list of (eigenvalue, eigenvector) tuples
eig_pairs = [ (np.abs(eig_vals[i]),eig_vecs[:,i]) for i in range(len(eig_vals))]

# Sort the eigenvalue, eigenvector pair from high to low
eig_pairs.sort(key = lambda x: x[0], reverse= True)

# Calculation of Explained Variance from the eigenvalues
tot = sum(eig_vals)
var_exp = [(i/tot)*100 for i in sorted(eig_vals, reverse=True)] # Individual explained variance
cum_var_exp = np.cumsum(var_exp) # Cumulative explained variance

In [46]:
#print(var_exp)

In [47]:
[ n for n,i in enumerate(cum_var_exp) if i>90 ][0]

40

In [54]:
pca = PCA(n_components=40)
pca.fit(X_std)
X_40d = pca.transform(X_new)

In [55]:
len(X_40d)

421095

In [56]:
# need to apply PCA to X and Y and then use PCA transferred data to 
rfm = ensemble.RandomForestClassifier(n_estimators=50)

cross_val_score(rfm, X_40d, Y_new, cv=10)

array([0.89335328, 0.89646411, 0.89993113, 0.90354064, 0.90413204,
       0.90562812, 0.90531715, 0.90619583, 0.90811504, 0.90450292])