<a href="https://colab.research.google.com/github/natheryinan/Claire00129/blob/master/Yinan_thinkfulpractice01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [5]:
newdata=pd.read_csv('https://raw.githubusercontent.com/jbagnato/machine-learning/master/analisis.csv')
newdata.head()

           usuario         op         co  ...         ne  wordcount  categoria
0     3gerardpique  34.297953  28.148819  ...   9.841575    37.0945          7
1  aguerosergiokun  44.986842  20.525865  ...  10.362406    78.7970          7
2   albertochicote  41.733854  13.745417  ...   8.836979    49.2604          4
3    AlejandroSanz  40.377154  15.377462  ...   5.032231    80.4538          2
4   alfredocasero1  36.664677  19.642258  ...   7.305968    47.0645          4

[5 rows x 8 columns]